{# filament_manager_settings.jinja2 #}

<form id="filament_manager_settings">
    <h3>Filament Manager Settings</h3>
    <div id="filament_list">
        {% for filament in settings.filaments %}
            <div class="filament">
                <span class="color-circle" style="background-color: {{ filament.color }}"></span>
                <span class="name">{{ filament.name }}</span>
                <div class="usage-bar" style="width: {{ filament.usage }}%;"></div>
                <button class="delete-btn" data-name="{{ filament.name }}">Delete</button>
            </div>
        {% endfor %}
    </div>
</form>
